<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<style>
    .thumb {
      height: 75px;
      border: 1px solid #000;
      margin: 10px 5px 0 0;
    }
</style>

<body>

        

        <div class="w3-card-4 w3-margin" style="width: 40%  ;"> 
            <div class="w3-container w3-green w3-center">
                <h2>Image Name</h2>
            </div>
            
            <form class="w3-container" id="choose_form" onsubmit="check_image(document.getElementById('choose_input').value); return false;">
                <p><input class="w3-input" type="text" id="choose_input" required></p>
                <p><input  id="get" class="w3-input" value="GET" type="submit"></p>
            </form>


            <div id="btn_s" class="w3-container">  
                <p id="btn_e"></p>
            </div>

            
            <div class="w3-center">
                <button id="train_btn" class="btn btn-warning w3-margin" onclick="train_function()">
 
                    train
                </button>
          
            </div>

            <div id="spinner_train" class="spinner-grow spinner-grow-sm" style="display: none;"></div>
            
            <button id="result_btn" class="btn btn-dark" onclick="show_result()" style="display: none;">result</button>          
        </div>

  


    
<script>
   
   
    var imagelist = []

    function train_function(){

        if(imagelist.length<2){
            alert("please input at least 2 image name")
        }else{
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "http://localhost:5000/train", true);
            xhttp.send();

            document.getElementById("train_btn").innerHTML="Loading...";
            document.getElementById("spinner_train").style.display = "block";

            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("train_btn").innerHTML="done!";
                document.getElementById("spinner_train").style.display = "none";
                document.getElementById("train_btn").disabled = true;
                document.getElementById("result_btn").style.display = "block";
                }
            };
        }
    }

    function show_result(){
        var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "http://localhost:5000/result", true);
            xhttp.send();
    }


    function show_img(image){
       
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:5000/show?name="+image.value, true);
        xhttp.send();

    }

    function check_image(image){
        
        var repeat = false;
        imagelist.forEach(function(item){   
            if(item==image){
                repeat = true;  
            }   
        });

        if(repeat == true){
            alert("image name already used");
            repeat = false;
        }else{
            imagelist.push(image);
            my_function(image);  
        }

    }

    function my_function(choose) {
        document.getElementById("choose_input").value="";
        var xhttp = new XMLHttpRequest();
        
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
     
            document.getElementById("spinner_"+choose).style.display='none';
            document.getElementById("delete_btn_"+choose).style.display='block';

            if(this.responseText=="error"){
                document.getElementById(choose).innerHTML +=  " error! ";
                alert("error ocurr please delete the " +choose+" image!")
                
            }else{
                document.getElementById(choose).innerHTML +=  " done! ";
            }
        }
        };
        xhttp.open("POST", "http://localhost:5000/name?name="+choose, true);
        xhttp.send();

        var start = document.getElementById("btn_s");
        var end = document.getElementById("btn_e")
        var div = document.createElement("div");

        div.innerHTML = "<div class='w3-container'><p><button id='"+choose+"' value='"+choose+"' class=' btn btn-primary w3-margin' id='img_btn' onclick='show_img("+choose+")'><span id='spinner_"+choose+"' class='spinner-grow spinner-grow-sm'></span>"+choose+"</button><button style='display:none;' id='delete_btn_"+choose+"' onclick='delete_function("+choose+")' type='button' class='close w3-margin' aria-label='Close'><span aria-hidden='true'>&times;</span></button></p></div>";
                
        start.insertBefore(div,end)     
      
    }

    function delete_function(choose){
        console.log(choose)
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:5000/delete?name="+choose.value, true);
        xhttp.send();

        //choose.parentNode.style.display="none";
        choose.parentNode.remove();
        var index = imagelist.indexOf(choose.value);
        if (index > -1) {
            imagelist.splice(index, 1);
        }
        
    } 
</script>

</body>
</html>